extends layout

block content
    .container-fluid.pt-4.px-4
        .row
            .col-sm-1
            .col-sm-10.mx-4   
                p #{username} #{bio} 
                #posts
                    if user                        
                        posts(name=username, v-for='post in posts' v-bind:post='post' v-bind:key="post.id" 
                        v-on:show-more='more' v-on:like-post='like' logged-user=loggedUser v-on:show-modal='show')
                    else 
                        posts(name=username, v-for='post in posts' v-bind:post='post' v-bind:key="post.id"
                        v-on:like-post='like' logged-user=null v-on:show-modal='show' v-on:show-more='show')
    script(type="text/javascript"). 
        let username = '#{username}'; // replace with vue router later
        let loggedUser = !{JSON.stringify(loggedUser)}
    script(src='https://unpkg.com/vue/dist/vue.js')
    script(src='https://unpkg.com/vue-router/dist/vue-router.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/postService.js')  
